*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*  Scroll Bar  */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 253, 253, 0.22);
}
::-webkit-scrollbar-thumb {
    background: #F4D561;
    border-radius: 12px;
    height:65px;
    transition: all 0.3s ease;
}

::placeholder{
    color: black;
    padding-left: 4px;
    text-align: justify;
    font-size: x-large;
}

.users
{   
    margin-left: 2vw;
    width: 26vw;
    height: 62vh;
    background-color: rgba(178, 204, 233, 1);
    overflow:hidden; 
    overflow-y:scroll;
    font-size: xx-large;
}

.listitems{
    padding-left: 1vw;
    line-height: 1.8;
    border: 0.2px solid black;
}

.link{
    color: black;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftside{
    background: rgba(15, 94, 187, 0.82);
    width: 30vw;
    height: 100vh;
}

.createroom{
    margin-top: 2vh;
    width: 30vw;
    height: 10vh;
    display: flex;    
}

.arrowkey{
    text-align: left;
    padding-top: 1vh;
    padding-left: 0.5vw;
    width: 8vw;
    height: 9vh;
    cursor: pointer;
}

.text{
    padding-top: 1vh;
    height: 10vh;
    width: 22vw;
}

.search{
    border: none;
    border-radius: 20px;
    font-family: fontawesome;
    width: 17vw;
    height: 5vh;
    padding-top: 10px;
    padding-left: 10px;
}

.selectgroup{
    color: white;
    text-align: center;
    font-size: xx-large;
    width: 30vw;
    height: 22vh ;
}

.join{
    border: none;
    font-size: xx-large;
    background-color: #f8ce3c;
    height: 7vh;
    width: 10vw;
    border-radius: 30px;
    cursor: pointer;
}

/* .roomname{
    width: 30vw;
    height: 7vh;
}
.name{
    background-color: rgba(178, 204, 233, 1);
    border: none;
    border-radius: 10px;
    width: 25vw;
    height: 5vh;
    margin-top: 1.05vh;
    padding-top: 0.8vh;
}

.description{
    width: 30vw;
    height: 15vh;
}
.typekar{
    background: rgba(178, 204, 233, 1);
    border: none;
    border-radius: 15px;
    width: 27vw;
    height: 10vh;
    margin-left: 1.25vw;
    margin-top: 1.5vh;
} */



.rightside{
    background-color: rgba(178, 204, 233, 1);
    width: 70vw;
    height: 100vh;
}

.groupkanaam{
    text-align: left;
    padding-top: 1vh;
    padding-left: 1vw;
    border-radius: 14px;
    background-color: rgba(15, 94, 187, 0.82);
    margin: 1.5vh;
    width: 67vw;
    height: 7vh;
}

.roomkanaam{
    font-size: xx-large;
    text-align: left;
}
/* .chatting{
    overflow: scroll;
    background-color: whitesmoke;
    width: 70vw;
    height: 75vh;
}

.chatbox1{
    background-color: rgba(178, 204, 233, 1);
    border: none;
    border-radius: 20px;
    margin: 2vh;
    width: 20vw;
    height: 30vh;
}

.chatbox2{
    border: none;
    border-radius: 20px;
    background-color: rgba(178, 204, 233, 1);
    position: relative;
    margin-left: 48vw;
    height: 30vh;
    width: 20vw;
    margin-bottom: 2vh;
} */

.chatting{
    overflow: scroll;
    overflow-x: hidden;
    background-color: aliceblue;
    height: 78vh;
    width: 70vw;
    position: relative;
    top: -25px;
    left: 0px;
    right: 138px;
}
.chatbox1{
    background-color: rgba(178, 204, 233, 1);
    width: 25vw;
    margin: 20px;
    padding-top:5px;
    padding-left: 7px;
    min-height: 5vh;
    float: left;
    clear: both;
}
.chatbox2{
    margin: 20px;
    background-color: rgba(178, 204, 233, 1);
    min-height: 5vh;
    width: 25vw;
    padding-top:5px;
    padding-left: 7px;
    float: right;
    clear: both;
}

.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 18vh;
    margin-top: -6vh;
}

.entermessage{
    border-radius: 16px;
    border: none;
    margin: 2vh;
    width: 60vw;
    height: 7vh;
    padding-left: 1vh;
    padding-top: 0.5vh;
}
.send{
    cursor: pointer;
}
 